<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>617502471385-cp4aan8dgvtm00u6h3stpv6fsqcbko6l.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.617502471385-cp4aan8dgvtm00u6h3stpv6fsqcbko6l</string>
	<key>API_KEY</key>
	<string>AIzaSyA8hXnJK2JFuW1mTdQJirSREvCGKA81kpQ</string>
	<key>GCM_SENDER_ID</key>
	<string>617502471385</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>cTeck.fixBug</string>
	<key>PROJECT_ID</key>
	<string>test-8ca34</string>
	<key>STORAGE_BUCKET</key>
	<string>test-8ca34.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:617502471385:ios:bbedaa7a0506f6d8</string>
	<key>DATABASE_URL</key>
	<string>https://test-8ca34.firebaseio.com</string>
</dict>
</plist>